@import '../../../../../variables';

.all {
  font-size: 13px;
}

.control-container {
  @extend %card-container;
  margin-bottom: 5px;
}

.search-icon {
  width: 15px;
  height: 15px;
}

.small-title {
  color: $color-tertiary;
  font-weight: bold;
  font-size: 15px;
}

@media(max-width: 770px) {
  .main-title-container {
    display: none;
  }
}
