$color-primary: #002c77;
$color-secondary: #EA6422;
$color-tertiary: #0e727c;
$color-gold: gold;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-gray: #a1a1a1;
$color-light-gray: #f8f8f8;

%shadow {
  -webkit-box-shadow: -8px 14px 24px -16px rgba(0,0,0,0.96);
  -moz-box-shadow: -8px 14px 24px -16px rgba(0,0,0,0.96);
  box-shadow: -8px 14px 24px -16px rgba(0,0,0,0.96);
}

%card-container {
  @extend %shadow;
  background-color: $color-white;
  padding: 5px 10px;
}