<article class="list-item">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <img [src]="'/assets/images/hotels/' + item.image" [alt]="item.name" class="img-fluid">
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h6 class="title">{{item.name}}</h6>
      <div><al-star [count]="item.stars"></al-star></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <p class="text-center">Precio por noche por habitación</p>
      <span>{{item.price | currency: 'ARS': 'code'}}</span>
      <button target="_blank" href="javascript:void(0);" class="btn btn-primary">Ver hotel</button>
    </div>
  </div>
</article>