<div class="container hotel-list">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <al-hotel-filter (filter)="onHotelFilterChanged($event)"></al-hotel-filter>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div *ngFor="let item of hotelList">
        <al-hotel-list-item [item]="item"></al-hotel-list-item>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
      <al-paginator
        [pageNumber]="pageNumber"
        [perPage]="perPage"
        [lastPageNumber]="maxCount / perPage"
        (paginationChanged)="onPaginationChanged($event)">
      </al-paginator>
    </div>
  </div>
</div>